<a href="https://colab.research.google.com/github/abcdy1/python-novice-gapminder-data/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python
**bold text is pretty**

This is my first jupyter+colab notebook.

In [1]:
age = 47
name = "Alane"

In [2]:
print(age)

47

In [5]:
print(name, "is", age, "years old",".")

Alane is 47 years old .

In [7]:
last_name = "Dy"
print(last_name)

Dy

In [8]:
print(name, "will be", age+10, "in ten years.")

Alane will be 57 in ten years.

In [9]:
print(name[2])

a

In [10]:
name_substring = name[0:7]
print(name_substring)

Alane

In [13]:
length_name_substring = len(name_substring)
print(length_name_substring + 4)

9

In [16]:
name = "Alane Blythe"
print(name)

Alane Blythe

In [18]:
type(age)

int

In [19]:
new_age ="20"
print(new_age + 15)

TypeError: can only concatenate str (not "int") to str

In [20]:
new_age = int(new_age)

In [21]:
new_age + 50

70

In [22]:
name * 2

'Alane BlytheAlane Blythe'

In [23]:
name + "."

'Alane Blythe.'